//home page

html {
  scroll-behavior: smooth;
  background-color: rgb(214, 174, 187); 
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(214, 174, 187); 
}
#home-page {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-body {
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.dear-love-title
{
  color: pink;
  font-size: 100px;
}
.hows-your-heart {
  color: pink;
  font-size: 150px; 
  
  }


.about-loveletters {
  font-size: 24px; 
.about-letters{
  color: green;
}
}

.button{
  color: pink;
}